section {
  background: $pale-blue url("../images/pattern-background-mobile.svg") no-repeat;
  background-size: contain;
  min-height: 100vh;
  @include flex-center;
}

.order-summary {
  max-width: 350px;
  border-radius: $br-lg;
  overflow: hidden;
  box-shadow: $box-shadow;
  margin: $space-lg;
  background: white;

  &__hero-img {
    display: block;
    max-width: 100%;
  }

  &__body {
    @include flex-column;
    padding: $space-xl $space-lg;
    text-align: center;
    max-width: 270px;
    margin: auto;

    .title {
      @include font-size($text-2xl);
      font-weight: 900;
      margin-bottom: $space-base;
    }

    .description {
      margin-bottom: $space-lg;
    }
  }

  .offer-plan {
    display: flex;
    justify-content: space-between;
    background: $very-pale-blue;
    border-radius: $br-base;
    padding: $space-base;
    margin-bottom: $space-lg;

    &__infos {
      @include flex-center-vert;
      gap: $space-base;

      img {
        @include box(35px)
      }

      &-texts {
        @include flex-column;
        gap: $space-2xs;

        h5 {
          @include font-size($text-xs);
          font-weight: 900;
        }

        p {
          @include font-size($text-xs);
          font-weight: 700;
        }

      }
    }

    .btn-3 {
      color: $bright-blue;
      text-decoration: underline;
      @include font-size($text-xs);
      font-weight: 700;

      @include on-event {
        text-decoration: unset;
      }
    }
  }

  .btn-1 {
    background: $bright-blue;
    margin-bottom: $space-lg;
    color: white;
    box-shadow: hsla(245, 75%, 52%, 0.5) 0 7px 29px 0;
  }

  .btn-2 {
    color: $desaturated-blue;
    font-weight: 900;

    @include on-event {
      opacity: 1;
      color: $dark-blue;
    }
  }
}

@include breakpoint($tablet) {
  section {
    background-image: url("../images/pattern-background-desktop.svg");
  }
}