// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Colors
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);


/// Breakpoints map
$tablet: 576 !default;
$desktop: 768 !default;
$lg-desktop: 992 !default;
$xl-desktop: 1200 !default;


/// Font-size & line-height
$text-xs: 0.75 !default;
$text-sm: 0.875 !default;
$text-base: 1 !default;
$text-lg: 1.125 !default;
$text-xl: 1.25 !default;
$text-2xl: 1.5 !default;
$text-3xl: 1.875 !default;
$text-4xl: 2.25 !default;
$text-5xl: 3 !default;
$text-6xl: 3.75 !default;
$text-7xl: 4.5 !default;
$text-8xl: 6 !default;
$text-9xl: 8 !default;

/// Letter-spacing
$ls-base: 0 !default;
$ls-1: 0.1 !default;
$ls-2: 0.2 !default;
$ls-3: 0.3 !default;
$ls-4: 0.4 !default;
$ls-5: 0.5 !default;
$ls-6: 0.6 !default;
$ls-7: 0.7 !default;
$ls-8: 0.8 !default;
$ls-9: 0.9 !default;
$ls-10: 0.10 !default;

/// Border-radius
$br-sm: 0.33rem !default;
$br-base: 0.67rem !default;
$br-lg: 1rem !default;
$br-full: 100% !default;
$br-full-px: 100px !default;


/// Space (margin, padding and gap)
$space-2xs: 0.25rem !default;
$space-xs: 0.5rem !default;
$space-sm: 0.75rem !default;
$space-base: 1rem !default;
$space-lg: 1.5rem !default;
$space-xl: 2rem !default;
$space-2xl: 3rem !default;
$space-3xl: 6rem !default;


/// Transition
$time1: 0.15s !default;
$time2: 0.3s !default;
$time3: 0.5s !default;
$easing: ease-out !default;


/// Box shadow
$box-shadow: hsla(240, 5%, 41%, 0.2) 0 7px 29px 0 !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/images/';
$base-url: '/images/' !default;
